<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kimi风格的对话页面</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
<!-- 添加大标题 -->
<h1 class="main-title">LOIG AI</h1>
<div class="chat-container">
    <div class="chat-box">
        <!--        <div class="message bot-message">你好，我是你的私人助手。</div>-->
        <div class="messages bot-message">
            <i class="fas fa-user-circle bot-avatar"></i>
            <span>你好，我是你的私人助手。</span>
        </div>

    </div>
</div>
<div class="input-area">
    <!--  <input type="text" id="userInput" placeholder="输入消息...">-->
    <!--  <button onclick="sendMessage()">发送</button>-->
    <textarea id="userInput" placeholder="输入消息..." rows="4" cols="50"></textarea>
    <!--<button onclick="sendMessage()">发送</button>-->
    <button class="send-button" id="sendButton"><i class="fas fa-paper-plane"></i></button>

</div>
<script src="static/js/script.js"></script>
</body>
</html>